
html {
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ALL */


.trickName {
  background-color: #559EB3;
  padding: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.trickInput {
  height: 32px;
  border-radius: 2px;
}

.notesButton {
  height: 38px;
}

input[type=range] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: white; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse over effects */
input[type=range] {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #61a8e6; /* Green background */
  border: 1px solid black;
  cursor: pointer; /* Cursor on hover */
}

input[type=range]::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #61a8e6; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

ul {
  overflow-y: auto;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

.noteLi {
  background-color: white;
  border: 1px solid black;
  margin: 5px 0;
  padding: 15px 0px;
  width: 100%;
  text-align: center;
}

.noteLi:hover {
  transition: background-color 0.25s;
  background-color: #6BC9E3;
}

a {
  text-decoration: none;
  color: black;
  background-color: #61a8e6;
}

.skateboard {
  position: relative;
  left: 40px;
  max-width: 90px;
  height: auto;
}
.leftShoe {
  /*animation: rotatelogo infinite 5s linear;*/
  left: -70px;
  top: -80px;
}
.rightShoe {
  /*animation: rotatelogo infinite 5s linear;*/
  left: -120px;
  top: 140px;
}

@keyframes rotatelogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftShoe, .rightShoe {
  position: relative;
  max-width: 40px;
  height: auto;
  transform: rotate(90deg);
}

.inputField {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.2);
}

input {
  min-width: 100px;
}

input::placeholder {
  text-align: center;
}

.MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* NAV */

.topnav {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #559EB3;
}


.notesButton {
  background-color: #6BC9E3;
  border: 0px;
  box-shadow: 2px 1px 3px;
  border-radius: 2px;
  border: 1px solid black;
}

.notesButton:hover {
  background-color: #C2F0FC;
}

.notesButton:active {
  transform: translateY(1px);
}

.trickInput {
  text-align: center;
}

.navLink {
  background-color: #6BC9E3;
  border: 1px solid black;
  position: relative;
  bottom: 0px;
  width: 25%;
  padding: 8px 20px;
  margin: 0px 2px;
  border-radius: 3px;
  box-shadow: 3px 2px 3px;
}

.navLink:hover {
  transition: box-shadow 0.3s;
  transition: background-color 1s;
  background-color: #C2F0FC;
  border: 1px solid black;
}

.navLink:active {
  transform: translateY(2px);
}

/* HOME PAGE */

.HomePage {
  padding: 40px;
}

/* FORMS */

.loginForm, .signUpForm {
  background-color: #C2F0FC;
  padding: 20px;
  box-shadow: inset 0px 5px 7px 0px rgba(0,0,0,0.2);
}

.LoginPage, .SignUpPage {
  margin-top: 50px;
  min-width: 500px;
  max-width: 800px;
  padding: 20px 50px;
}

.submitButton {
  width: 168px;
  border: none;
  background-color: #6BC9E3;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  padding: 5px;
}

.saveButton {
  width: calc(100% + 8px);
  border: none;
  background-color: #6BC9E3;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  padding: 5px;
}

.submitButton:hover {
  background-color: #9fd2ff;
}

/* SIGN UP PAGE */

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* LOGIN PAGE */

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* NOTES PAGE */

textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: 2px solid black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 30px;
  background-color: #6BC9E3;
}

section:nth-child(even) {
  background-color: #C2F0FC;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6BC9E3;
  padding: 15px 50px;
  margin: 0;
}
.trickNote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C2F0FC;
  padding: 0px 50px;
  margin: 0;
}

.HomePage {
  background-color: #C2F0FC;
}

.row {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.insideRow {
  background-color: #6BC9E3;
  display: flex;
  align-items: center;
  width: 100%;
  height: 500px;
  /*border: 2px solid black;*/
  padding: 10px 0px;
}

.picture-container {
  width: auto;
}
.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.notes {
  height: auto;
  border: 2px solid black;
}

@media screen and (min-width: 400px){
  .notes {
    height: 500px;
  }
  .topnav {
    flex-direction: row;
    height: 50px;
  }
  .insideRow {
    padding: 10px 20px;
  }
  .row {
    flex-direction: row;
  }
  .notes {
    width: 33%;
  }
  .settings {
    width: 33%;
  }
  .picture-container {
    width: 33%;
  }
}

.howToPic {
  width: 300px;
  height: auto;
}

/*
.remove {
  text-align: center;
}*/


